a{
    text-decoration: none;
    background-color: pink;
    color: black;
    border-radius: 999px;
    display: inline-block;
    text-align: center;
    padding: 13px 26px;
}
a:hover{
    background-color: black;
    color: pink ;
}

